%h3
  = t('.head')
  %small= t('.authored_or_assigned')
  %small.right= t('.merge_requests', :count => @merge_requests.total_count )

%br
- if @merge_requests.any?
  - @merge_requests.group_by(&:project).each do |group|
    %ul.unstyled.ui-box
      - project = group[0]
      %h5= project.name
      - group[1].each do |merge_request|
        = render(:partial => 'merge_requests/merge_request', :locals => {:merge_request => merge_request})
  %hr
  = paginate @merge_requests, :theme => "gitlab"

- else
  %h4.padded
    %center= t('.nothing')
