!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body{:class => "#{app_theme} admin"}
    = render "layouts/flash"
    = render "layouts/head_panel", :title => t('.admin_area')
    .container
      %nav.main_menu
        = link_to t('.stats'), admin_root_path, :class => "home #{controller.controller_name == "dashboard" ? "current" : nil}"
        = link_to t('.projects'), admin_projects_path, :class => controller.controller_name == "projects" ? "current" : nil
        = link_to t('.users'), admin_users_path, :class => controller.controller_name == "users" ? "current" : nil
        = link_to t('.emails'), admin_emails_path, :class => controller.controller_name == "mailer" ? "current" : nil
        = link_to t('.resque'), "/info/resque"

      .content= yield
